@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";


$coin-light-red: lighten($red, 40%);
$coin-light-green: lighten($teal, 40%);
$coin-light-gray: lighten($gray-100, 2%);
.coin-info {
  position: relative;
  padding: 6px !important;
  border: 1px solid $coin-light-green;
  border-radius: 6px;
  background-color: $coin-light-gray;
  // box-shadow: 0 0 3px 3px $gray-100;
  text-align: left;
  min-width: 150px;
  display: inline-block;
  float: left;

  background-repeat: no-repeat;
  background-position: 20px 0;

  &.STEEM {
    background-image: url("~src/assets/images/icon-steem.png");
  }
  &.SBD {
    background-image: url("~src/assets/images/icon-steem.png");
  }
  &.BTC {
    background-image: url("~src/assets/images/icon-bitcoin.png");
  }
  &.ETH {
    background-image: url("~src/assets/images/icon-ethereum.png");
  }

  .coin-title {
    line-height: 1em;
    font-weight: 600;
    display: flex;
    font-family: 'Roboto Slab', sans-serif;

    flex-direction: row;
    justify-content: space-between;
    div.label {
      font-size: 14px;
      color: $gray-700;
      // color: $primary;
    }
  }
  .coin-value {
    font-family: 'Roboto Slab', sans-serif;
    text-align: right;
    color: $green;
    padding-top: 8px;
    .oi {
      vertical-align: middle;
      // opacity: 0.7;
      // font-size: 0.8em;
      line-height: 1em;
    }
    line-height: 1em;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 600;
    // letter-spacing: -0.025em;
  }

  &:before {
    font-family: 'simple-line-icons';
    content: "\e078";
    color: $green;
    font-weight: 600;
    opacity: 0.3;
    font-size: 18px;
    position: absolute;
    bottom: 7px;
    left: 7px;
  }

  &.falling {

    &:before {
      color: $red;
      content: "\e07b";
    }

    border-color: $coin-light-red;
    .coin-value {
      color: $red;
    }
  }
}
