nav.navbar.navbar-expand-lg.bg-secondary
  div.container.d-flex.justify-content-between
    a.navbar-brand(href='/')
      img(src="@/assets/images/ch-logo.svg")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-items', aria-controls='navbar-items', aria-expanded='false', aria-label='Toggle navigation')
      em.icon-menu

    div.collapse.navbar-collapse#navbar-items
      ch-coin.nav-link(:ticker="steemTicker")
      ch-coin.nav-link(:ticker="sbdTicker")
      ch-coin.nav-link(:ticker="btcTicker")
      ch-coin.nav-link(:ticker="ethTicker")

