// user profile wallet
ch-box(v-if="loading !== true", title="Wallet", icon="icon-wallet")
  // profile wallet wrapper.
  div.col-lg-12.profile-wallet
    div.row.estimate
      div.col-lg-12

    // wrapper
    div.row.balances
      div.col-lg-12
        div.row
          div.col-lg-12
            span.usd-total
              // em.icon-graph
              | ${{ usdWallet.sum | roundAmount }}
            span ${{ usdWallet.totals.balance | roundAmount }}
              small &nbsp;BALANCE
            br
            span ${{ usdWallet.totals.savings | roundAmount }}
              small &nbsp;SAVINGS
            // br
            // small (approximate conversion)
      div.col-lg-12.right-col
        div.row
          div.col-lg-6.left
            span.usd-value
              | {{ wallet.totals.steem | roundAmount }}
              small STEEM
          div.col-lg-6.right
            span.usd-value
              | {{ wallet.totals.sbd | roundAmount }}
              small SBD
