@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.profile-posts {
  padding: 0 !important;

  table.table {
    margin-bottom: 0;

    &.table-no-payouts {
      td {
        text-align: center;
        > span {
          font-weight: bold;
          &:after {
            content: ' ';
          }
        }
      }
    }


    thead , tbody {
      > tr {
        &.total {
          font-size: 20px;
        }
        > .center {
          text-align: center;
        }

        > .right {
          text-align: right;
        }
        > .bold {
          font-weight: 600;
        }
        > .primary {
          font-family: 'Roboto Slab', serif;
          font-weight: 600;
          color: $primary;
        }
      }
    }

    thead {
      tr {
        text-transform: uppercase;
      }
      tr {
        > th:first-child {
          padding-left: 15px;
        }
        > th:last-child {
          padding-right: 15px;
        }
      }
    }

    tbody {
      tr {
        > td {
          white-space: nowrap;
          font-weight: 500;
          color: $gray-600;
        }
        > th.permlink {
          max-width: 200px;
          overflow-x: hidden;
          a {
            display: block;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        > th:first-child {
          padding-left: 15px;
        }

        > td:last-child {
          padding-right: 15px;
        }
      }
    }
  }
}
