div.ch-box.box
  div.box-inner(:class="{ 'no-padding': !padded }")
    div.row.row-eq-height.box-title(v-if="title !== null && icon !== null")
      div.col
        h2
          em(:class="icon") &nbsp;
          div
            | {{ title }}
            slot.title-extra(name="title-extra")
    div.row.row-eq-height
      slot

