@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.ch-user-search {
  width: 100%;
  .form-control {
    &:focus {
      box-shadow: none;
      border: none;
    }
  }

  .v-autocomplete .v-autocomplete-list {
    width: 100%;
    position: absolute;
    text-align: left;
    border: none;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid $gray-300;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item {
    cursor: pointer;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid $gray-300;
    border-left: 1px solid $gray-300;
    border-right: 1px solid $gray-300;
  }

  .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:last-child {
    border-bottom: none;
  }

  .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item:hover {
    background-color: #eee;
  }

  .v-autocomplete .v-autocomplete-list .v-autocomplete-list-item abbr {
    opacity: 0.8;
    font-size: 0.8em;
    display: block;
    font-family: sans-serif;
  }
}
