// profile page wrapper.
div.row.row-eq-height.profile-content
  div.col(v-if="error === true")
    div.not-found-message
      em.icon-exclamation
      span
        | Sorry, the account you're looking for could not be found.
        br
        a(href="/") Click here
        | , to try again
  div.col(v-if="error === false && !loading")
    // first line row wrapper
    div.row.row-eq-height
      // profile information / user box.
      ch-profile-user.col-lg-6()
      // profile information / user box.
      ch-profile-wallet.col-lg-6()

      // wallet information.
      // ch-box.col-lg-6
        div.row.row-eq-height
          div.col-lg-4.profile-avatar
            span 123


    div.row.row-eq-height
      ch-profile-posts.col-lg-12()

    div.row.row-eq-height
      ch-profile-comments.col-lg-12()
