// user profile box
ch-box(v-if="loading !== true", title="User Details", icon="icon-user")
  span.rank(slot="title-extra")
    | {{ rank }}
  // profile image / left section
  div.col-lg-4.profile-avatar
    // wrapper
    div.row
      // profile image.
      div.col-lg-12
        div.box-circle
          img(:src="profileImage")

      // profile username.
      div.col-lg-12
        h1.username-label
          | @{{ username }}

  // right section.
  div.col-lg-8
    // account defaults.
    div.account-details
      // account name.
      div.row
        div.col
          div.line.name
            em.icon-info
            span(v-if="name !== null") &nbsp;{{ name }}
            span.missing(v-else) &nbsp;name not set.

      // account location.
      div.row
        div.col
          div.line.location
            em.icon-location-pin
            span(v-if="location !== null") &nbsp;{{ location }}
            span.missing(v-else) &nbsp;location not set.

      // account website.
      div.row
        div.col
          div.line.website
            em.icon-link
            span(v-if="website !== null") &nbsp;{{ website }}
            span.missing(v-else) &nbsp;website not set.



    // account badges.
    div.account-badges
      // badges
      div.badges
        // posts count.
        span.badge.badge-primary
          span {{ account.post_count }}
          | &nbsp;Posts
        // voting power.
        span.badge.badge-primary
          span {{ account.voting_power | percent }}
          | &nbsp;VP
        // steem power.
        span.badge.badge-primary
          span {{ account._sp | steemPower }}
          | &nbsp;SP

