// user profile box
ch-box(v-if="loading !== true", title="User Details", icon="icon-user")
  // profile image / left section
  div.col-lg-4.profile-avatar
    // wrapper
    div.row
      // profile image.
      div.col-lg-12
        div.box-circle
          img(:src="profile.profile_image", v-if="profile && profile.profile_image")

      // profile username.
      div.col-lg-12
        h1.username-label
          | @{{ username }}

  // right section.
  div.col-lg-8
    // account defaults.
    div.account-details
      // account name.
      div.row
        div.col
          div.line.name(v-if="name !== null")
            em.icon-info
            span &nbsp;{{ name }}

      // account location.
      div.row
        div.col
          div.line.location(v-if="location !== null")
            em.icon-location-pin
            span &nbsp;{{ location }}

      // account website.
      div.row
        div.col
          div.line.website(v-if="website !== null")
            em.icon-link
            span &nbsp;{{ website }}



    // account badges.
    div.account-badges
      // badges
      div.badges
        // posts count.
        span.badge.badge-primary.badge-lg
          span {{ account.post_count }}
          | &nbsp;Posts
        // voting power.
        span.badge.badge-primary.badge-lg
          span {{ account.voting_power | percent }}
          | &nbsp;VP
        // steem power.
        span.badge.badge-primary.badge-lg
          span {{ account._sp | steemPower }}
          | &nbsp;SP

