// set simple line icons variables.
$simple-line-font-path: "~simple-line-icons/fonts/" !default;
$simple-line-font-family: "simple-line-icons" !default;
$simple-line-icon-prefix: "icon-" !default;

// import font.
@import "~simple-line-icons/scss/simple-line-icons";
